<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.liujin.permission">

      <application>
            <activity
                android:name="tech.liujin.permission.PermissionActivity"
                android:theme="@style/TransparentActivityTheme">
            </activity>
      </application>

</manifest>